.imageFileInput{
    float: left; 
    border: 1px solid #ededed;
    width: 100px;
    height:100px;/*
    background-image: url("../images/sweets.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;*/


}

.fileInput{
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0;
}

